<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>

    <typeAliases>
        <typeAlias type="com.hackathon.youngandrich.user.model.entity.User" alias="User"/>
        <typeAlias type="com.hackathon.youngandrich.category.model.response.CategoryResponse" alias="CategoryResponse"/>
        <typeAlias type="com.hackathon.youngandrich.category.model.entity.Category" alias="Category"/>
        <typeAlias type="com.hackathon.youngandrich.account.model.response.AccountResponse" alias = "AccountResponse"/>
    </typeAliases>
</configuration>